AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
AUTHORIZED_EMAILS="you@gmail.com"
GOOGLE_SHEET_ID="1BsTgkhaUTfgTFfLKo9jvQwyDJLyw9nx7EyXVG-Dy0-c"
GOOGLE_SHEET_LEGACY_NAME="Ремонт"
GOOGLE_SHEET_OPERATIONS_NAME="Операции"
