GOOGLE_SHEET_ID="1BsTgkhaUTfgTFfLKo9jvQwyDJLyw9nx7EyXVG-Dy0-c"
GOOGLE_SHEET_LEGACY_NAME="Ремонт"
GOOGLE_SHEET_OPERATIONS_NAME="Операции"
GOOGLE_SERVICE_ACCOUNT_EMAIL=""
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
